body{
	background: #ccc;
	height: 1900px;
}

*{
	font-family: 'Poppins', sans-serif;
	border: none;
	border-radius: 10px;
}

.cookies-msg{
	width: 70%;
	background: white;
	position: fixed;
	bottom: 5%;
	left: 11%;
	border-radius: 15px;
	transform: translate(50px);
	display: none;
}
.cookies-msg.mostrar{
	display: block;
}

.cookies-msg .cookies-txt{
	display: flex;
	align-items: center;
	text-align: justify;
	padding: 20px;
}

.cookies-msg .cookies-btn{
	margin-left: 30px;
	padding: 20px;
	
}

.cookies-btn{
	border-radius: 10px;
	border: none;
}

.cookies-msg .cookies-btn button{
	background: purple;
	color: white;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 40px;
	cursor: pointer;
	margin-top: 5px;
	transition: .2s;
}

.cookies-msg .cookies-btn button:hover{
	transform: scale(1.1);
	background-color: #F590F5;

}